{{define "alert"}}
<div class="alert alert-{{.Level}} alert-dismissible fade show" role="alert">
    {{.Message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{end}}