/******************************************************************************
** Edit Page Template 
******************************************************************************/

{{define "yield"}}
<div class="container">
    <div class="col-md-12">
        <h1 class="mx-auto">Edit Your Gallery</h1>
        <a href="/galleries/{{.ID}}"><button class="btn btn-primary mb-10">View this gallery</button></a>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{template "editGalleryForm" .}}
        </div>
        <div class="col-md-10 offset-md-1">
            {{template "uploadImageForm" .}}
        </div>
    </div>
    <div class="row float-md-right my-10">
        {{template "deleteGalleryForm" .}}
    </div>
    <div class="col-md-12">
            {{template "galleryImages" .}}
        </div>
</div>
{{end}}

/******************************************************************************
** Edit Gallery Form Template 
******************************************************************************/

{{define "editGalleryForm"}}
<form action="/galleries/{{.ID}}/update" method="POST">
    {{csrfField}}
    <div class="form-group row">
        <label for="title" class="col-md-1 col-form-label">Title</label>
        <div class="col-md-10">
            <input type="title" name="title" class="form-control" id="title" value="{{.Title}}" placeholder="Give your gallery a title">
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </div>
</form>
{{end}}

/******************************************************************************
** Delete Gallery Form Template 
******************************************************************************/

{{define "deleteGalleryForm"}}
<form action="/galleries/{{.ID}}/delete" method="POST">
    {{csrfField}}
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
{{end}} 

/******************************************************************************
** Image Upload Form Template 
******************************************************************************/

{{define "uploadImageForm"}}
<form action="/galleries/{{.ID}}/images" method="POST" enctype="multipart/form-data">
    {{csrfField}}
    <div class="input-group">
        <div class="custom-file">
            <input type="file" class="custom-file-input" multiple="multiple" id="images" name="images">
            <label class="custom-file-label" for="images">Choose images to upload</label>
        </div>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Upload</button>
        </div>
    </div>
</form>
{{end}}

{{define "galleryImages"}}
<div class="row">
    {{range .ImagesSplitN 6}}
        <div class="col-md-2">
            {{range .}}
            <a href="{{.Path}}">
                <img src="{{.Path}}" class="thumbnail" alt="" />
            </a>
            {{template "deleteImageForm" .}}
            {{end}}
        </div>
    {{end}}
</div>
{{end}}

/******************************************************************************
** Delete Image Form Template 
******************************************************************************/

{{define "deleteImageForm"}}
<form action="/galleries/{{.GalleryID}}/images/{{.Filename}}/delete" method="POST">
    {{csrfField}}
    <button type="submit" class="btn btn-default">Delete</button>
</form>
{{end}}

